@font-face {
    font-family: 'boxedmediumitalic';
    src: url('fonts/boxedmediumitalic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedmedium';
    src: url('fonts/boxedmedium.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedregular';
    src: url('fonts/boxedregular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedlight';
    src: url('fonts/boxedlight.ttf');
}
@font-face {
	font-family: 'boxedbook';
	src: url('fonts/boxedbook.ttf');	
}

body {
	font: 12px boxedmedium, sans-serif;
    color: #ffffff;
	margin: 0 auto;
    max-width: 1920px;
    min-width: 1240px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.aHead {
    font: 10pt boxedmedium, sans-serif;
}

#wrapper {
	margin: auto;
}

header {
	padding: 0px 0;
    height: 70px;
    background-color: #1c1c1c;
}

#imgJet {
    margin-top: -3px;
}

#spanImg {
    min-width: 35px;
    padding: 0px;
}


#spaceImgFooterL {
    padding: 0px;
    min-width: 50px;
}

#spaceImgFooterR {
    padding: 0px;
    min-width: 30px;
}

.spanJetGnomeFooter {
    font: 24px boxedmedium, sans-serif;
    color: #ffffff;
	text-transform: uppercase;
}

.spanJetGnome {
    font: 24px boxedmedium, sans-serif;
    color: #ffffff;
    padding-right: 63px;

}

#spanGnome {
    color: #f9ba3f;
}

#spaceHead {
    max-width: 660px;
    min-width: 150px;
    width: 660px;
}

#tdHeadNavLast {
    max-width: 24px;
    min-width: 5px;
    width: 24px;
}

.tdHead {
    color:white;
}

#tdHeadReg {
    width: 40px;
    min-width: 20px;
}

.tdHeadNav {    
    max-width: 48px;
    min-width: 10px;
    width: 48px;
}

#back {
    background: url(images/bg_back.jpg) repeat-x;
    min-height: 1000px;
}

#languages {
    height: 55px;
}

.languages {
    color: #000000;
    font: 16px boxedmedium, sans-serif;
}

#langMenu {
    height: 50px;
}

#langSpace {
    width: 50px;
}

nav {
    float:left;
    max-width: 300px;
    min-width: 240px;
    margin-top: 23px;
}

#menuScroll {
    background-color: #1c1c1c;
    padding-bottom: 1px;
	position: fixed;
	z-index: 1000;
}

#navMenu {
    
    padding-left: 20px;
    padding-top: 35px;
    padding-bottom: 5px;
}

#navSpan {
    font: 14pt boxedregular, sans-serif;
    color: #ffffff;
}

li {
    list-style-type: none;
    color: #ffffff; 
    font:16px  boxedlight, sans-serif;
    font-variant: small-caps;
    line-height: 27px;
}

#ulMenu {
    background-color: #1c1c1c;
    margin-bottom: 35px;
}

.goldGame {
    color: #ffcc00;
}

#spanSideGame {
	align: center;
}


footer {
    color: #c4c4c4;
    margin: 0 auto;
}

#money {
    height: 30px;
	background-color: #eaeaea;
}

#ContextVipad {
	display: none;
}

#context {
    background-color: #1a1a1a;
    height: 75px;
    text-align: center;
}

#contextImg {
    padding-top: 12px;
}

#footerOther {
    background-color: #232323;
    margin: 0px;
}

#spaceFooterOther1 {
    max-width: 300px;    
    width: 300px;
}

.tdFooter {
    vertical-align: text-top;
}

#spaceFooterOther2 {
    max-width: 250px;
    width: 250px;
}

#ulFooter {
    padding-left: 0px;
    min-width: 100px;
}

#socialFooter {
    border-top: 1px solid #303030;
    max-width: 1920px;
    min-width: 1240px;
}

#socialFooterSpace1 {
    width: 133px;
    min-width: 50px;
}

#socialIcon {
    min-width: 304px;
}

.socialImg {
    padding: 1px;
}

#socialFooterSpace2 {
    max-width: 280px;
    min-width: 100px;
    width: 280px;
}

#mailTo {
    width: 80px;
}

#socialFooterSpace3 {
    max-width: 150px;
    min-width: 50px;
    width: 150px;
}

#delivery {
    min-width: 230px;
	font: 21px boxedbook, sans-serif;	
	line-height: 29px;
}

#socialFooterSpace4 {
    max-width: 150px;
    min-width: 50px;
    width: 150px;
}

#languageFooter {
    min-width: 70px;
}

#languagesFooter {
    color: #ffffff;
    font: 16px boxedmedium, sans-serif;
}



section {
    max-width: 1620px;
    min-width: 1000px;
    float:left;
}