@import url('bootstrap/css/bootstrap.css');

@font-face {
    font-family: 'boxedmediumitalic';
    src: url('fonts/boxedmediumitalic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedmedium';
    src: url('fonts/boxedmedium.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedregular';
    src: url('fonts/boxedregular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'boxedlight';
    src: url('fonts/boxedlight.ttf');
}
@font-face {
	font-family: 'boxedbook';
	src: url('fonts/boxedbook.ttf');	
}

@font-face {
	font-family: 'ropasansscproregular';
	src: url('fonts/ropasansscproregular.ttf');	
}

@font-face {
	font-family: 'supermolotReg';
	src: url('fonts/supermolotReg.ttf');	
}

@font-face {
	font-family: 'boxedregularbold';
	src: url('fonts/boxedregularbold.ttf');	
}

@font-face {
	font-family: 'supermolotbold';
	src: url('fonts/supermolotbold.ttf');	
}

body {
	font: 12px boxedmedium, sans-serif;
    display: inline-block;
    color: #ffffff;
	margin: 0 auto;
    max-width: 1920px;
    min-width: 1240px;
}

p {
    font: 18.24px ropasansscproregular, sans-serif;
}

h3 {
    font-family: 25px boxedregularbold;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.aHead {
    font: 15px boxedmedium, sans-serif;
}


#wrapper {
	margin: auto;
}

header {
	padding: 0px 0;
    height: 70px;
    background-color: #1c1c1c;
}

header a:visited {
    color: #ffffff;
}

header a:active {
    color: #ffffff;
}

header a {
    color: #ffffff;
}

header a:hover {
    color: #ffffff;
}

#tableHeader {
    height: 100%;
}

#imgJet {
    margin-top: -1px;
}

#jetImg {
    min-width: 37px;
}

#spanImg {
    min-width: 34px;
    padding: 0px;
}

#spanImg2 {
    min-width: 30px;
    padding: 0px;
}

#spaceImgFooterL {
    padding: 0px;
    min-width: 50px;
}

#spaceImgFooterR {
    padding: 0px;
    min-width: 30px;
}

.spanJetGnomeFooter {
    font: 24px boxedmedium, sans-serif;
    color: #ffffff;
	text-transform: uppercase;
}

#spanJetGnome {
    font: 24px boxedmedium, sans-serif;
    color: #ffffff;
    padding-right: 78px;
    margin-left: 0px;

}

#spanGnome {
    color: #f9ba3f;
}

#spaceHead {
    max-width: 660px;
    min-width: 150px;
    width: 660px;
}

#tdHeadNavLast {
    max-width: 24px;
    min-width: 5px;
    width: 24px;
}

.tdHead {
    color:white;
}

#tdHeadReg {
    width: 40px;
    min-width: 20px;
}

.tdHeadNav {    
    max-width: 48px;
    min-width: 10px;
    width: 48px;
}

#back {
    background: url(images/bg_back.jpg) repeat-x,
                url(images/gnomFooter.png) -115px bottom no-repeat;
}

#languages {
    height: 55px;
}

.languages {
    color: #000000;
    font: 16px boxedmedium, sans-serif;
}

#langMenu {
    height: 79px;
	margin-bottom: 0px;
}

#langSpace {
    width: 50px;
}

.navWidth{
	width: 300px;
    float:left;
    max-width: 300px;
    min-width: 240px;
}
#menuScroll {
    background-color: #1c1c1c;
    padding-bottom: 1px;
	position: fixed;
	text-align: center;
}

#navMenu {    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

#navSpan {
    font: 23px boxedregular, sans-serif;
    color: #ffffff;
}

li {
    list-style-type: none;
    color: #ffffff; 
    font:20px  boxedlight, sans-serif;
    font-variant: small-caps;
    line-height: 27px;
}

#ulMenu {
    background-color: #1c1c1c;
    margin-bottom: 5px;
	padding-left: 70px;
	text-align: left;
    margin-left: 0px;
}

#ulMenu li{
    padding-bottom: 16px;
    line-height: 18px;
}



.goldGame {
    color: #ffcc00;
}

a.goldGame:visited {
    color: #ffcc00;
}

.topGame {
    color: #ffffff;
}

a.topGame:visited {
    color: #ffffff;
}

#spanSideGame {
    color: #00d8ff;
	text-align: left;	
	font: 17px boxedregular, sans-serif;
}


footer {
    color: #c4c4c4;
    margin: 0 auto;
}

#money {
    background-image: url(images/gnomgirl.png);
	background-repeat: no-repeat;
    height: 30px;
	background-color: #eaeaea;    
    height: 450px;
    width: 100%;
}

@media (max-width: 1700px) {
#money {
    background-position: -100px;
}
}
@media (max-width: 1400px) {
#money {
    background-position: -200px;
}   
}

.textareaFoterGirl {
    min-width: 380px;
    width: 430px;
    max-width: 430px;
}

.sendCommit {
    width: 238px;
    height: 95px;
}

.footerMoney {
    margin-left: auto;
    margin-right: auto;
}

#moneyHref {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#tableHrefMoney td {
    padding-left: 10px;
    padding-right: 10px;
    
    vertical-align: center;    
    height: 64px;
}

.tdMoney {    
    width: 430px;
    max-width: 430px;
}

#mainCommit {
    resize: none;
    width: 380px;
    height: 240px;
}

#moneyFooterNorm {
    margin: 0px auto;
}

.tableMoneyLeft {
    min-width: 175px;
    max-width: 450px;
}

#tdMoneyMain {    
    height: 344px;
}

.inputThemeQuestion {
    width: 505px;
}

.inputFooterGirl {
    width: 490px;
}

#ContextVipad {
	display: none;
    position: absolute;
    margin-left: 15%;
    width: 70%;
    margin-top: -220px;
    background: rgb(255, 255, 255);
}

#context {
    background-color: #1a1a1a;
    height: 75px;
    opacity: 0.5;
    text-align: center;
}

#contextImg {
    padding-top: 12px;
}

#footerOther {
    margin: 0px;
}

#tableOther {
	height: 220px;
}

#spaceFooterOther1 {
    max-width: 420px;    
    width: 420px;
}

#spaceFooterOther2 {
	width: 60px;
}

.tdFooter {
    vertical-align: text-top;
}

#spaceFooterOther3 {
    max-width: 330px;
    width: 330px;
}

#tdFooterGame1 {
	min-width: 150px;
}

#spaceFooterOther4 {
	min-width: 30px;
}

#spaceFooterOther5 {
	min-width: 30px;
}

#footerDivGold {	
	width: 100%;
	height: 450px;	
    background-color: #232323;
	background-image: url(images/golds.png);
	background-repeat: no-repeat;
	background-position: 1520px -1px;
}
	
#tdFooterGame2 {
	min-width: 140px;
}

#tdFooterGame3 {
	min-width: 120px;
}

footer a {
    color: #ffffff;
}

footer a:visited {
    color: #ffffff;
}

#ulFooter {
    padding-left: 0px;
	margin-top: 50px;
    min-width: 100px;
}

#ulFooter2 {
    padding-left: 0px;
	margin-top: 50px;
    min-width: 151px;
}

#goldGame2 {
	color: #8cda74;
}

#ulFooter2 a{
	font: 23px ropasansscproregular;	
}

.liUlFooter {
	padding-bottom: 12px;
}

#socialFooter {
    border-top: 1px solid #303030;
	height: 150px;
    max-width: 1920px;
    min-width: 1240px;
}

#socialTable{
	padding-top: 37px;
    height: 100%;
}

#socialFooterSpace1 {
    width: 133px;
    min-width: 10px;
}

#socialIcon {
    min-width: 304px;
}

.socialImg {
    padding: 1px;
}

#socialFooterSpace2 {
    max-width: 270px;
    min-width: 30px;
    width: 280px;
}

#mailTo {
    width: 80px;
}

#mailTo img {
    min-width: 30px;
    min-height: 30px;
}

#socialFooterSpace3 {
    max-width: 100px;
    min-width: 50px;
    width: 150px;
}

#delivery {
    min-width: 338px;
	font: 27px boxedbook, sans-serif;	
	line-height: 29px;
}

#socialFooterSpace4 {
    max-width: 210px;
    min-width: 50px;
    width: 150px;
}

#socialFooterSpace5 {
    max-width: 30px;
    min-width: 10px;
    width: 30px;
}

#languageFooter {
    min-width: 102px;
}

#languagesFooter {
    color: #ffffff;
    font: 30px boxedmedium;
}

section {
    min-height: 1000px;
    display: -webkit-box !important; 
}

#indexDiv {
    background-image: url(images/gnom.png);
	background-repeat: no-repeat;
	background-position: 650px -245px;
}

@media (max-width: 1700px) {
#indexDiv {
	background-position: 550px -245px;
}
#footerDivGold {
    background-position: 1500px -1px;
}     
}
@media (max-width: 1600px) {
#indexDiv {
	background-position: 450px -245px;
}     
#footerDivGold {
    background-position: 1400px -1px;
}    
}
@media (max-width: 1500px) {
#indexDiv {
	background-position: 350px -245px;
}     
#footerDivGold {
    background-position: 1300px -1px;
}    
}

#leftIndexTable {
    max-width: 115px;
    width: 115px;
}

#rightIndexTable {
    max-width: 390px;
    width: 390px;
}

#mainIndexTable {
    width: 1115px;
    min-width: 1080px;
}

#indexH1 {
    color: #363636;
	text-align: left;	
	font: 28px supermolotReg, sans-serif; 
    padding-bottom: 13px;
}

#indexHtext {
    color: #363636;
	text-align: left;	
	font: 23.33px boxedlight, sans-serif;  
    padding-bottom: 30px;       
}

.yelloButton {
    background: #f5c401;
	text-align: center;	
	font: 17.2px boxedmedium, sans-serif;      
    height: 43px;
    line-height: 43px;
    color: #000000;
}

.spaceIndexDiv {
   height: 235px; 
}

.gameBox {  
    width: 580px;
    height: 274px;     
    float: left;       
    font: 20px boxedbook, sans-serif;           
    color: #ffffff;
    line-height: 36.5px;
}

.gameBoxMini {  
    width: 455px;
    height: 274px;     
    float: left;       
    font: 25px boxedbook, sans-serif;           
    color: #ffffff;
    line-height: 36.5px;
}

.gameBoxMiniTable {
    width: 100%;
}

.gameBoxSpaceMini {    
    height: 180px;
}


#lineageBox{
    background-image: url(images/linageGameBox.jpg);
	background-repeat: no-repeat;    
}

#wowBox {    
    background-image: url(images/wowlogo.jpg);
	background-repeat: no-repeat;    
}

#eveBox {
    background-image: url(images/EVE_logo.jpg);
	background-repeat: no-repeat;        
}

#archeAge {
    background-image: url(images/archeAge.jpg);
	background-repeat: no-repeat;        
}

.gameBoxSpace {
    height: 214px;
}

.tdGameBoxTextSpace1{
    width: 22px; 
}

.tdGameBoxTextSpace2{
    width: 24px; 
}

.tdGameBoxTextSpace3{
    width: 16px; 
}

#cena{
    width: 96px;
    font: 26.67px boxedmedium, sans-serif;
    line-height: 43px;
}

.indexSpaceWidth1 {
    width: 48px;
}

.indexSpaceWidth2 {
    width: 27px;
}

.indexSpaceHeight1 {
    height: 20px;
}

.indexSpaceHeightEnd {
    height: 50px;
}

.fileIndex {
    background-image: url(images/file.png);
    background-repeat: no-repeat;    
    min-width: 214px;
    text-align: center;	    
    color: #ffffff;
    font: 23.33px boxedregularbold, sans-serif;
    line-height: 36.5px;    
}

.fileIndexText {
    height: 90px;
    min-width: 160px; 
    width: 160px;
    margin: auto;
}

.fileIndexImg {
    margin-top: 45px;
    margin-bottom: 28px;
}

@media (max-width: 1500px) {
#ulMenu{
    padding-left: 40px;
}
.navWidth{
	width: 260px;
    max-width: 260px;
    min-width: 240px;
} 
}

@media (max-width: 1370px) {
#ulMenu{
    padding-left: 20px;
}
.navWidth{
	width: 200px;
    min-width: 200px;
} 
}

@media (max-width: 1305px) {
#langSpace {
    width: 20px;
}
#ulMenu{
    padding-left: 20px;
}
.navWidth{
	width: 175px;
    min-width: 175px;
} 
#navSpan {
    font: 18px boxedregular, sans-serif;      
}
#spanSideGame {
    font: 13px boxedregular, sans-serif;
}
#ulMenu li {
    font:14px  boxedlight, sans-serif;
    line-height: 10px;
}
}

/* Новостная лента Главная страница */

#indexNewsH1 {
    font: 26.67px supermolotbold, sans-serif;
    margin-top: 85px;
    margin-bottom: 55px;
    color: #005aff;
}

.indexNewsH2 {
    font: 24.33px ropasansscproregular, sans-serif;
    margin: 24px;    
}



.indexNewsMainDiv {
    height: 275px;
    background-color: #ebebeb;
    margin-bottom: 50px;
    min-width: 1080px;
    float: left;
}

.indexNewsDiv1 {
    width: 630px;
    min-width: 450px;
    float: left;
}

.indexNewsDiv1Even {
    width: 450px;
    float: left;
}

.indexNewsDiv2 {
    width: 450px;
    height: 275px;
    float: left;
    overflow: hidden;
}

.indexNewsDiv2Even{
    width: 630px;
    height: 275px;
    float: left;
    overflow: hidden;
}

.indexNewsText {
    height: 213px;
}

.indexNewsNav {
    height: 37px;
}

.indexNewsSpan {
    margin-left: 22px;
}

*.indexNewsSpan {
    font: 18.24px ropasansscproregular, sans-serif;    
    color: #424242;
}

*.indexNewsIcon {
    font: 20px ropasansscproregular, sans-serif; 
}

.indexTableCommit {
    width: 100%;
    height: 37px;
    margin: auto;
    text-align: center;
    border: 1px solid #7e7e7e;
}
.indexTableCommit td{
    border: 1px solid #7e7e7e;
    font: 20px ropasansscproregular, sans-serif; 
}
.newsCategory{
    width: 320px;
}
.newsCategoryEven{
    width: 165px;
}
.newsCategoryEven a{
    color: #000000;
}
.newsCategory a{
    color: #000000;
}
.newsDate{
    width: 175px;
}

/* pagination navi >*/
.previouspostslink {
    background: none !important;
    background-image: url(images/leftSlider.png) !important;   
    background-repeat: no-repeat !important; 
    background-position: center !important;
    border: 1px !important;
    padding: 3px 10px !important;
}
.nextpostslink {
    background: none !important;
    background-image: url(images/rightSlider.png) !important;   
    background-repeat: no-repeat !important; 
    background-position: center !important;
    border: 1px !important;
    padding: 3px 12px !important;
}

.wp-pagenavi {
	clear: both;
    float: right;
}


.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
    font-size: 16px;
    background: #A3A3A3;
    color: #ffffff;
    border-bottom: 2px solid #d2a800;
	padding: 6px 10px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	/*border-color: #000;*/
    color: #ffffff;
    border-bottom: 2px solid #ffcc00;
}

.wp-pagenavi span.current {
	font-weight: bold;
}


/*< pagination navi */


/*Слайдер Index Game CSS >*/
[id^="example1a-"], [id^="example1b-"] {
	text-decoration: none;
	width:455px;
	height:570px;
}

[id^="example1b-"] {
	display:block;
	position: relative ;
	float:left;
	width:36px;
	height:16px;
	margin-top: 600px;
}

[id^="example1a-"]{
	display: block;
	position: relative;
}

.no-touch  [id^="example1b-"] {
    background-image: url(images/aSlider.png);
    background-position: center;
    background-repeat: no-repeat;    
    min-width: 35px;
    width: 58px;
    margin-left: auto; 
    margin-right: auto;
}

.no-touch  [id^="example1b-"].active {
    background-image: url(images/ahoverSlider.png);
}



#example1b-click-prev {
    background-image: url(images/leftSlider.png);
    margin-left: 50px;
}

#example1b-click-next {
    background-image: url(images/rightSlider.png);
}

.h1SliderIndex {
    font: 26.67px supermolotReg, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    height: 114px;
    display: table-cell;
    vertical-align: middle;
}

.h1SliderIndexA, .h1SliderIndexA:visited, .h1SliderIndexA:active {
    color:  #ffcc00;
}

/*< Слайдер Index Game CSS*/


/* Single page > */

#divMainSingle {
    margin-left: 10px;
    margin-top: 80px;
}

#comment {
    width: 600px;
    height: 160px;
    resize: none;
}

#respond {
    font: 26.67px supermolotReg, sans-serif;
}

/* < Single page */


/* all tags > */
.textCenter {
    text-align: center !important;
}

.mt40 {
    margin-top: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.fl {
    float: left !important;
}

.pl65 {
    padding-left: 65px !important;
}
/* < all tags */